<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <p></p>

  <label for="yearOfBirth">Set year of birth: </label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>

  <p></p>

  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>

  <p></p>

  <label for="username">Enter Username: </label>
  <input type="text" th:field="*{username}" id="username"/>

  <p></p>

  <label for="password">Edit Password: </label>
  <input type="password" th:field="*{password}" id="password"/>

  <p></p>

  <label for="role">Select Role: </label>
  <input type="text" th:field="*{roles}" id="role"/>
  <br/>
  <input type="submit" value="Edit"/>
</form>

<p/>
<hr/>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="*LOGOUT*"/>
</form>


</body>
</html>