<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <br/>

  <label for="yearOfBirth">Set year of birth: </label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth" required/>

  <br/>

  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email" required/>
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Username Error</div>
  <br/>

  <label for="username">Enter Username: </label>
  <input type="text" th:field="*{username}" id="username" required/>
  <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

  <br/>

  <label for="password">Set Password: </label>
  <input type="text" th:field="*{password}" id="password" required/>

  <br/>
  <label>Select Role: </label>
  <select th:field="*{roles}" th:multiple="multiple" th:size="${roles.size()}" required>
    <option th:each="role : ${roles}"
            th:text="${role.getAuthority()}"
            th:value="${role.getId()}"></option>
  </select>

  <br/>
  <p/>

  <input type="submit" value="Create!"/>
</form>

<p/>
<hr/>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="*LOGOUT*"/>
</form>


</body>
</html>

