<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>
<input type="button" onclick="history.back();" value="Назад"/>
<p/>


<div th:each = "user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
</div>
<p></p>
<hr/>
<a href="/admin/new">Create New User</a>
<p/>
<hr/>
<p/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="*LOGOUT*"/>
</form>

</body>
</html>